.tab-group {
    height: 230px;
    background: #fff;
    /* border: 1px solid #000; */
    margin-top: 8px;
    color: #000;
}

.tab-header {
    border-left: 1px solid #000;
}
.tab-label {
    font-size: 16px;
    font-weight: 600;
}

.tab-content {
    padding: 16px;
    height: 140px;
}

.p-text {
    width: 30%;
    float: left;
    padding-left: 25px;
    line-height: 1.5;
}

.p-text-tab-3 {
    width: 16.6%;
    float: left;
  
    line-height: 1.5;
}