.panel {
    width:38%;
    float: left;
    padding:10px;
    line-height: 1.5;
    border: 2px solid #49d84757;
    margin-left: 8px;
    margin-top: 5px;
    height: 57px;
    font-size: 14px;
    background: #a1ff7112;
}